# Database
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=tdms
DATABASE_URL=postgresql+psycopg://user:pass@db:5432/tdms

# Security
SECRET_KEY=please-change-this-secret

# Bootstrap admin
FIRST_ADMIN_EMAIL=admin@ivamaris.io
FIRST_ADMIN_PASSWORD=admin123
FIRST_ADMIN_FULL_NAME=System Administrator

# Frontend API URL
VITE_API_URL=http://localhost:8000

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
